body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul {
  margin-inline-start: 0em;
  margin-block-start: 0em;
  padding-inline-start: .25em;
}
li {
  list-style:none;
  text-align:left;
}
li:hover {
  background-color: blue;
  cursor: pointer;
  text-align:left;
}

body{
     margin: 0;
      font-family:'Yoster Island Regular';
      background-color:lightcyan;
      color: #333;
    }
    h1{
    text-align: center;
     font-size:x-large;
     margin-top: 2%;
     color: black;
    }
    
    .nav {
    background-color:lightgreen;
     border-radius: 15px;
     display: flex;
     align-items: center;
     justify-content: center;
    }
     .nav a {
     display: block;
     color:#333;
     text-align: center;
     padding: 20px 16px;
     font-size: 18px;
     font-weight: bold;
     }
     
    .card{
background-color:white;
border-radius: 25px;
box-shadow: 0 8px 15px rgba(0,0,0,0.2);
width: 600px;
text-align: center;
padding: 1rem;
transition: transform 0.3s, box-shadow 0.3s;
    }
    .cards-container {
display: flex;
flex-wrap: wrap;
justify-content: center;
padding: 2rem;
gap: 2rem;
}

.card h2 {
font-size: 1.5rem;
color: black;
margin: 0.5rem 0;
}
.card p {
font-size: 1rem;
color: black;
}
body{
     margin: 0;
      font-family:'Yoster Island Regular';
      background-color:lightcyan;
      color: #333;
    }
    h1{
    text-align: center;
     font-size:x-large;
     margin-top: 2%;
     color: black;
    }
    button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

    